<app-header backButton="/main/emergency-procedures" [showMenu]="true" title="Incendio"></app-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div id="title">Metodos de prevención de incendios</div>

    <div id="text">• Mantener en buen estado las instalaciones electricas y evitar sobregarcar enchufes</div>
    <div id="text">• Frente a un olor a gas, no enciendas aparatos electricos ni fosforos u otros objetos similares. Si el olor prebalece, llama al 132.</div>
    <hr>
    <div id="title">Qué hacer frente a un incendio</div>

    <div id="text">• Retirate del lugar inmediatamente. Para mayor seguridad hazlo agachado o gateando. </div>
    <div id="text">• Cubre nariz y boca con alguna tela, preferentemente humedecida.</div>
    <div id="text">• Abre las puertas lentamente, verificando si entra humo o calor desde el otro lado. Si es el caso, busca otra via de escape.</div>
    <hr>
    <div id="title">Qué hacer en caso de no poder evacuar</div>
    <div id="text">• Pide ayuda a bomberos llamando al 132</div>
    <div id="text">• Evita superficies que podrían verse afectadas por el fuego, ya que existe la posibilidad de derrumbe.</div>
  </div>
</ion-content>
