<app-header backButton="/auth" [title]="user.role == 'propietario' ? 'Registrar Hogar' : 'Vincular Propiedad'" ></app-header>




<ion-content *ngIf="user.role == 'propietario' ">

  <ion-list *ngIf="!loading">
    <ion-item-sliding class="product-item" *ngFor="let property of properties">
      <ion-item (click)="selectPropetry(property)">
        <ion-label>
          <div class="name">{{ property.direction}} {{ property.number }}</div>
          <div class="data">
            {{ property.commune }}, {{ property.city }}<br>
            Region {{ property.region }}  <br>
          </div>
        </ion-label>
      </ion-item>

      <ion-item-options>
        <ion-item-option>
          <ion-icon class="option-btn" name="create-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon class="option-btn" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div class="empty" *ngIf="!loading && !properties.length">
    <ion-icon name="diamond-outline"></ion-icon>
    <h3> Aun no has registrado ninguna propiedad </h3>
  </div>

  <ion-list *ngIf="loading">
    <ion-item-sliding class="product-item" *ngFor="let employee of [1,1,1,1,1]">
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <div>
            <ion-skeleton-text animated style="width: 50%; "></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 30%; "></ion-skeleton-text>
          </div>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>




  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addProperty()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-content *ngIf="user.role == 'asesor'">

  <div class="ion-text-center">
    <h3>Ingrese el correo del propietario</h3>

  </div>

  <div class="d-flex-center">
    <form [formGroup]="form" (ngSubmit)="submit()" action="" class="auth-form">
      
      <app-input
      autocomplete="email"
      type="email"
      label="Correo"
      icon="mail-outline"
      [control]="form.controls.email"
     ></app-input>

     <ion-button class="submit" type="submit" expand="block" fill="outline" shape="round" [disabled]="form.invalid">
        Buscar
     </ion-button>
    
    </form>
  </div>
 
  <ion-list *ngIf="propiedadesOwner.length > 0">
    <ion-item-sliding class="product-item" *ngFor="let property of propiedadesOwner">
      <ion-item (click)="selectPropetry(property)">
        <ion-label>
          <div class="name">{{ property.direction }} {{ property.number }}</div>
          <div class="data">
            {{ property.commune }}, {{ property.city }}<br>
            Región {{ property.region }}<br>
          </div>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

</ion-content>

