.add-task-modal {
    --width: 60%; /* Ajusta el ancho según tus necesidades */
    --height: 40%;
    --max-height: 70%; /* Ajusta la altura máxima según tus necesidades */
    --border-radius: 10px;
    --margin: auto;
  }