<app-header backButton="/main/home" [showMenu]="true" title="Tareas"></app-header>

<ion-content>
  <div class="ion-padding ion-text-center">Lista de tareas:</div>

  <ion-list>
    <ion-item-sliding *ngFor="let task of tasks">
      <ion-item>



        <ion-checkbox  [checked]="task.taskStatus" [checked]="task.taskStatus" (ionChange)="onCheckboxChange(task, $event)" justify="space-between">{{ task.taskName }}</ion-checkbox>
        <!-- <ion-label>
          {{ task.taskName }}
        </ion-label>      
        <ion-label slot="end" >
          {{ task.taskStatus ? 'Completado' : 'No Completado' }}
        </ion-label>  -->

      </ion-item>


    </ion-item-sliding>

  </ion-list>

</ion-content>

  <ion-footer  style="margin-bottom: 30px;">
    <ion-toolbar>
      <form [formGroup]="form" (ngSubmit)="addTask()" action="" class="auth-form">
        <ion-label>
          Añadir Tareas
        </ion-label>
        <ion-item>
          <ion-icon (click)="submit()" name="send" slot="end"></ion-icon>
          <ion-input formControlName="taskName">  
          </ion-input>
        </ion-item>
      </form>
        
    </ion-toolbar>
  </ion-footer>

