<app-header backButton="/main/emergency-procedures" [showMenu]="true" title="Sismos"></app-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div id="title">Preparativos importantes ante un sismo</div>

    <div id="text">• Despeja posibles vías de escape.</div>
    <div id="text">• Mantén un caldazo cerca para protegerte de cortes en los pies.</div>
    <div id="text">• Guarda los objetos frágiles, como vasos o vajillas, en lugares cerrados para evitar que caigan y obstaculicen una posible vía de escape.</div>
    <div id="text">• Establece un lugar cercano para guardar linternas o lámparas</div>
    <hr>
  </div>
</ion-content>
