<app-header backButton="/main/emergency-procedures" [showMenu]="true" title="Salud"></app-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <div id="title">Fracturas</div>

    <div id="text">• No mover la zona afectada y no intente acmododar el hueso.</div>
    <div id="text">• En caso de demorar en llegar al hospital, puede ayudarse de una tablilla para inmovilizar el hueso.</div>
    <div id="text">• Ponga una tela entre la tablilla y la piel, luego envuelva la zona completamente.</div>
    <hr>
    <div id="title">Quemaduras</div>

    <div id="text">• Alivie el dolor con agua fría.</div>
    <div id="text">• Use una gasa humeda para cubrir la zona afectada. El agua evitará que se pegue a la piel.</div>
    <div id="text">• Si hay restos de ropa pegada en las heridas, no intente retirarlas.</div>
    <hr>


  </div>
</ion-content>